*{
    margin: 0;
}
/* header */
.banner{
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
    height: 180px;
}
 .logo-banner{
    height: 80px;
    margin-top: 5%;
    margin-left: 1%;
 }
 /* /header */

 /* main */

 .booleaner{
   color: #20a9e5; 
 }
 h4,h5{
    color: #808080;
 }





 /* /main */